// Logo
.logo {
  margin-left: 3rem;
  font-size: 2.4rem;
  color: transparent;
  font-weight: 600;
  background-image: linear-gradient(to right, $primary, $primary-light);
  -webkit-background-clip: text;
}

// UTILITY
.label {
  font-size: 1.4rem;
  font-weight: 100;
  color: $color-grey-dark-2;
}

.value {
  font-size: 1.4rem;
  font-weight: 600;
  color: $color-grey-dark-2;
}

// Search
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  margin-right: 3rem;

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: $color-grey-light-2;
    border: none;
    color: inherit;
    padding: 1.2rem 2rem;
    border-radius: 100px;
    width: 100%;
    margin-right: -3.25rem;
    outline: none;

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: $color-grey-dark-3;
    }
  }

  &__button {
    border: none;
    background-color: $color-grey-light-2;
    cursor: pointer;

    &:active {
      transform: translateY(2px);
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-grey-dark-3;
  }
}

// WEATHER INFORMATION
.weather-box {
  display: flex;
  flex-direction: column;
}

.weather {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 3rem;
  background-image: linear-gradient(to right bottom, $dark-blue, $medium-blue);
  border-radius: 3px;
  box-shadow: $shadow-medium;
  margin-right: 2.4rem;
  flex: 0 0 100%;

  &__location {
    font-size: 2.8rem;
    color: white;
    font-weight: 700;
  }

  &__time {
    font-size: 1.8rem;
    color: white;
  }

  &__temperature-box {
    display: flex;
    align-items: center;
  }

  &__temperature {
    font-size: 7rem;
    font-weight: 400;
    color: white;
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
    color: white;

    img {
      width: 20rem;
    }
  }

  &__description {
    font-size: 1.8rem;
    color: white;
  }

  &__info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 30%;
    margin: auto 0;

    span {
      color: white;
    }

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 2;
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid white;
      }
    }
  }
}

// WEATHER DETAILS
.weather-details-box {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
  background-color: $color-grey-light-1;
  border-radius: 3px;
  box-shadow: $shadow-medium;
  flex: 0 0 66%;
  margin-right: 2.4rem;
  margin-top: 2.4rem;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 45%;
    margin: auto 0;

    & > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 2;
      padding: 1rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $primary-light;
      }
    }
  }
}

.cat-photo-box {
  display: flex;
  background-color: $color-grey-light-1;
  border-radius: 3px;
  box-shadow: $shadow-medium;
  flex: 1 1;
  margin-top: 2.4rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/public/images/cat.jpg');
}

@media screen and (max-width: 500px) {
  .logo {
    margin: 0;
  }
  .search {
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
  }

  .weather {
    margin: 0 auto;
    width: 100%;
    overflow: auto;
    flex-direction: column;
    padding: 1rem 2.5rem;

    &__temperature-box {
      justify-content: space-between;
    }

    &__icon-box {
      width: min-content;
      & img {
        width: 13rem;
        height: auto;
      }
    }
  }

  .weather-details-box {
    width: 100%;
    margin: 1.5rem;
    padding: 1rem 2.5rem;
  }

  .weather-details {
    flex-direction: column;

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 1;

      &.first {
        border-bottom: 1px solid $primary-light;
      }

      & > * {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 2;
        padding: 1rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid $primary-light;
        }
      }
    }
  }
  .cat-photo-box {
    width: 100%;
    margin: 0 1.5rem;
    border-radius: 3px;
    min-height: 35rem;
  }
}
