.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: $secondary;
  box-shadow: $shadow-dark;
  border-radius: 3px;
  overflow: hidden;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: $line;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem;
}
